:root {
    --header-color: #2C3E50; /* headers, btns, divider */
    --hover-color: #3498DB; /* btn hover */
    --project-background-color: #D6CFC4;  /* project container background */
    --background-color: #FFFFF0; /* background & header/btn text */
    --quote-background: #fff;
}

/* Page styling */
body {
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
    font-family: Arial, sans-serif;
    font-size: 16px; 
    line-height: 1.5; 
    margin: 0;
    padding: 0;
}

h2, h3, h4, a {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    margin: 15px 0;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

.divider{
    border-top: thick double var(--header-color);
    margin-top: 80px;
}    

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    margin-top: 20px;
    margin-bottom: 0px;
}

.animated-border-quote {
    display:inline-block;
    margin:1em auto;
    max-width:20em;
    overflow:hidden;
    text-align: center;
    blockquote {
      background-color:var(--background-color);
      border: solid 2px #757575;
      display: inline-block;
      margin: 0;
      padding: 1em;
      position: relative;
      &:before {
        animation:clockwise 30s infinite linear;
        background-color:var(--background-color);
        bottom:10%;
        content: "";
        left: 0;
        opacity:.5;
        position: absolute;
        right: 0;
        top:10%;
      }
      &:after {
        animation:counter 30s infinite linear;
        background-color:var(--background-color);
        bottom:10%;
        content: "";
        left: 0;
        opacity:.5;
        position: absolute;
        right: 0;
        top:10%;
      }
      cite {
        display: block;
        font-style: italic;
        text-align: right;
        &:before {
          content: "- ";
        }
      }
      > * {
        position: relative;
        z-index: 1;
      }
    }
  }
  
  @keyframes clockwise {
    0% {
      transform:rotate(0);
    }
    100% {
      transform:rotate(360deg);
    }
  }
  
  @keyframes counter {
    0% {
      transform:rotate(0);
    }
    100% {
      transform:rotate(-360deg);
    }
  }

/* Header */
header {
    background-color: var(--header-color);
    color: var(--background-color);
    position: sticky;
    top: 0;
    padding: 10px; 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    z-index: 999; 
}

header h2 {
    margin: 0; 
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}

/* Navigation */
.menu-icon {
    position: relative;
    cursor: pointer;
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 50px;
    display: none;
    background-color: var(--header-color); 
    z-index: 1000; 
    width: 150px; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 10px; 
}

/* Nav Dropdown */
.menu-icon.active + .nav-links {
    display: block; 
}

.nav-links li {
    margin: 0; 
}

.nav-links a {
    color: var(--background-color);
    text-decoration: none;
    display: block; 
    padding: 10px; 
    transition: background-color 0.3s; 
    cursor: pointer;
}

.nav-links a:hover {
    background-color: var(--hover-color);
}

/* Main content */
main {
    padding: 20px;
    text-align: center; 
}

section {
    max-width: 1150px; 
    margin: 0 auto; 
    padding: 0px;
    padding-top: 42px; 
}

/* Skills section */
.skills {
    padding-top: 0;
    padding-bottom: 20px;
}

.skill-item {
    position: relative;
    display: inline-block;
    margin: 8px;
}

.skill-item img {
    width: 60px;
}

.backend, .frontend, .development-tools {
    margin-bottom: 20px;
}

/* Projects section */
.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px auto; 
    max-width: 1200px; 
}

.project-grid h4 {
    font-size: large;
}

.project {
    flex: 0 1 calc(28% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: var(--project-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.project img {
    width: 100%;
    max-width: 115px;
    height: auto;
    margin-bottom: 10px;
}

.project p {
    margin: 10px 0;
}

.btn {
    background-color: var(--header-color);
    color: var(--background-color);
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    
}

.btn:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Contact Section */
#contact {
    text-align: center;
    margin-top: 20px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-icons img {
    width: 40px;
    transition: transform 0.3s ease;
}

.contact-icons img:hover {
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}

/* Responsive Design */
@media (max-width: 768px) {
    /* body {
        background-size: auto 90%;
    } */

    header h2 {
        font-size: 20px;
    }

    .nav-links {
        left: 0;
        top: 60px;
        width: 100%;
    }

    .nav-links a {
        padding: 15px;
    }

    main {
        padding: 10px;
    }

    .project-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin: 0; 
        width: 100%;
        /* max-width: 1200px;  */
    }
    
    .project {
        flex: 0 1 calc(40%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ccc;
        padding: 15px;
        background-color: var(--project-background-color);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
}