:root {
    --dark-charcoal: #2C3E50; 
    --cyan: #3498DB; 
    --warm-gold: #F1C40F; 
    --soft-gray: #ECF0F1; 
    --ivory: #FFFFFF; 
    --beaver: #c17c74;

    --bg: #10111F;
    --size: 15px;
}

/* Basic styling */
body {
    /* background-color: var(--ivory); */
    background-image: url('images/b2t.png');
    color: var(--dark-charcoal);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: var(--dark-charcoal);
    color: var(--ivory);
    position: sticky;
    top: 0;
    padding: 10px; 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    z-index: 999; 
}

header h2 {
    margin: 0; 
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}

/* Navigation */
.menu-icon {
    position: relative;
    cursor: pointer;
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 50px;
    display: none;
    background-color: var(--dark-charcoal); 
    z-index: 1000; 
    width: 150px; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 10px; 
}

/* Dropdown */
.menu-icon.active + .nav-links {
    display: block; 
}

.nav-links li {
    margin: 0; 
}

.nav-links a {
    color: var(--ivory);
    text-decoration: none;
    display: block; 
    padding: 10px; 
    transition: background-color 0.3s; 
    cursor: pointer;
}

.nav-links a:hover {
    background-color: var(--cyan);
}

/* Main content */
main {
    padding: 20px;
    text-align: center; 
}

section {
    max-width: 1150px; 
    margin: 0 auto; 
    padding: 0px;
    /* padding-top: 35px;  */
}

/* Skills section */
.skills {
    padding-top: 0;
    padding-bottom: 20px;
}

.skill-item {
    position: relative;
    display: inline-block;
    margin: 8px;
}

.skill-item img {
    width: 60px;
}

/* Projects section */
.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px auto; 
    max-width: 1200px; 
}

.project {
    flex: 0 1 calc(28% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: var(--soft-gray);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.project img {
    width: 100%;
    max-width: 115px;
    height: auto;
    margin-bottom: 10px;
}

.project p {
    margin: 10px 0;
}

.btn {
    background-color: var(--warm-gold);
    color: var(--dark-charcoal);
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--cyan);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Contact Section */
#contact {
    text-align: center;
    margin-top: 20px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-icons img {
    width: 40px;
    transition: transform 0.3s ease;
}

.contact-icons img:hover {
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}

/* Responsive Design */
@media (max-width: 768px) {
    /* body {
        background-size: auto 90%;
    } */

    header h2 {
        font-size: 20px;
    }

    .nav-links {
        left: 0;
        top: 60px;
        width: 100%;
    }

    .nav-links a {
        padding: 15px;
    }

    main {
        padding: 10px;
    }

    .project-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin: 0; 
        width: 100%;
        /* max-width: 1200px;  */
    }
    
    .project {
        flex: 0 1 calc(40%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ccc;
        padding: 15px;
        background-color: var(--soft-gray);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
}